<div class="col" id="QueenBee">
  <div class="icon">
    <img width="20" src="../icons/queenBee.svg">
    Queen x<span ng-bind="queenBee.population"></span>
  </div>
  Current: <span ng-bind="queenBee.hitpoints"></span> hp
</div>
<div class="col" id="WorkerBees">
  <div class="icon">
    <img width="20" src="../icons/workerBee.svg">
    Workers x<span ng-bind="workerBees.population"></span>
  </div>
  Current: <span ng-bind="workerBees.hitpoints"></span> hp
</div>
<div class="col" id="DroneBees">
  <div class="icon">
    <img width="20" src="../icons/droneBee.svg">
    Drones x<span ng-bind="droneBees.population"></span>
  </div>
  Current: <span ng-bind="droneBees.hitpoints"></span> hp
</div>
<button class="attack" ng-click="attack('random')">Attack</button>
