body {
  padding: 40px;
  background: burlywood;
}

.icon {
    background: khaki;
    width: 130px;
    padding: 10px;
    border: 1px solid tan;
    border-radius: 4px;
}

button {
  margin-top: 20px;
}

.col {
  float: left;
  width: 33%;
}
